.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #260046, #7400DC);
}

.btn, .twitch-btn {
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  transition: opacity 0.3s ease;
}

.btn:hover, .twitch-btn:hover {
  opacity: 0.8;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.center-horizontal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.twitch-btn {
  background-color: white;
  color: #9146FF;
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.streamify-logo {
  width: 75%;
  max-width: 50vw;
  margin-top: 72px;
}

.twitch-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 72px;
  height: 72px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
