.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  background-color: #f5f5f5; /* optional background color for better contrast */
}

.btn, .twitch-btn {
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.btn:hover, .twitch-btn:hover {
  opacity: 0.8;
}

.twitch-btn {
  background-color: #9146FF;
  color: white;
  display: flex;
  align-items: center;
}

.twitch-icon {
  margin-right: 10px;
}
